<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileManagerNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <FileManagerNew.Properties.Settings>
            <setting name="Background" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sort2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sort3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="combo" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="Label2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Label3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Label4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Label5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Label6" serializeAs="String">
                <value/>
            </setting>
            <setting name="saveIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftpname" serializeAs="String">
                <value/>
            </setting>
            <setting name="ftpuser" serializeAs="String">
                <value/>
            </setting>
            <setting name="ftppassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="history" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
        </FileManagerNew.Properties.Settings>
    </userSettings>
</configuration>
